body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(78,80,81);
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height:590px;
    width:400px;
    position: relative;
}

canvas {
    display: block;
}

#enter{
    background-color: rgb(78,80,81);
    color:white;
    text-align: right;
    font-size:24px;
    border:0px;
    height:80px;
    width:388px;
    position :absolute;
    top: 30px;
    padding:0px 10px 0px 0px;
}

#screen{
    background-color: rgb(78,80,81);
    color:white;
    text-align: right;
    font-size:40px;
    border:0px;
    height:80px;
    width:388px;
    position :absolute;
    top: 110px;
    padding:0px 10px 0px 0px;
}