// color
$color1:black;
$color2:white;

$primary-color:rgb(0,191,255);
$secondary-color:rgb(213, 253, 253);
$third-color:rgba(0, 0, 0, 0.5);
$fourth-color:#f4f4f4;

$shadow-color:rgba(225, 227, 226);

// border-radius
$radius1:5px;
$radius2:10px;

// font-weight
$font1:bold;

//all-size
$size0:0;
$size1:0px;
$size2:10px;
$size3:20px;
$size4:30px;
$size5:50px;
$size6:5px;
$size7:290px;
$size8:40px;
$size9:15px;
$size10:100px;
$size11:500px;
$size12:150px;
$size13:300px;
$size14:60px;
$size15:32px;
$size16:1px;

// position
$position1:center;
$position2:right;
$position3:fixed;
$position4:relative;
$position5:absolute;

// display
$display1:flex;

// z-index
$z-index1:1000;
$z-index2:1;
$z-index3:2;

//
$no:none;
$auto:auto;
$big:100%;
$wrap:wrap;
$word-wrap:break-word;

