.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border:1px solid #615b5b;
    padding:10px;
    gap:10px;
    height:50vh;
    align-items: center;
    justify-content: center;
}

.flex-item{
    border:1px solid #615b5b;
    border-radius: 5px;
    min-width:200px;
    height:100px;
    text-align:center;
}

.left-bar{
    flex-grow:2;
    flex-shrink:2;
    flex-basis: 200px;
    /* flex:2 1 auto; */
}

.workspace{
    flex:4 1 auto;
}

.right-bar{
    flex:2 1 auto;
}