$navbar-color: #FAFAFA;
$card-border-color: #9B9B9B;
$website-title: #178852;
$favCard-color:#FFFADD;

/* font */
@font-face {
    font-family: 'inriaSerif';
    src: url('../assets/InriaSerif-Bold.ttf');
}

@font-face {
    font-family: 'kaushanScript';
    src: url('../assets/KaushanScript-Regular.ttf');
}