// color
$text-color1:black;
$text-color2:rgba(239, 140, 134);
$primary-color:rgba(156, 209, 188);
$secondary-color:white;
$third-color:rgba(210, 233, 225);
$forth-color:rgba(225, 225, 225, 0.5);
$hr-color:rgba(225, 227, 226, 0.5);
$shadow-color:rgba(225, 227, 226);

// border-radius
$radius1:5px;
$radius2:10px;

// font-weight
$font1:bold;

//all-size
$size1:15px;
$size2:32px;
$size3:25px;
$size4:20px;
$size5:30px;
$size6:40px;
$size7:0px;
$size8:10px;
$size9:50px;
$size10:100px;
$size11:500px;
$size12:400px;
$size13:100%;
$size14:60px;
$size15:320px;
$size16:350px;
$size17:120px;
$size18:116px;
$size19:96px;
$size20:auto;
$size21:5px;
$size22:2px;
$size23:-80px;

// position
$position1:center;
$position2:right;
$position3:left;
$position4:fixed;
$position5:relative;
$position6:absolute;

// display
$display1:flex;
$display2:grid;

// grid setting
$grid-row1: 1;
$grid-row2: 1;
$grid-row3: 2;

$grid-column1: 1;
$grid-column2: 2;
$grid-column3: 3;

$grid-size1:2fr;
$grid-size2:1fr;

$span-space:2;

// z-index
$z-index1:1000;
$z-index2:1;
